Scaling_Analysis
Source/__pycache__/
Experiments/*/Airfoil
Experiments/*/Concrete
Experiments/*/Energy-C
Experiments/*/Energy-H
Experiments/*/Housing
Experiments/*/Yacht
Experiments/*/split_maker.sh
Experiments/*/submit_all.sh