Scaling_Analysis
Masking_
Source/__pycache__/
Experiments/*/Airfoil
Experiments/*/Concrete
Experiments/*/Energy-C
Experiments/*/Energy-H
Experiments/*/Housing
Experiments/*/Yacht
Experiments/*/split_maker.sh
Experiments/*/submit_all.sh
RESULTS/
Data-Tools/*/_book
Data-Tools/*/*.csv